absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
namex
networkx
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
rich
scipy
seaborn
setuptools
six
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
wheel
wrapt